{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Anwar Farihin</title>

</head>

<body>
{% block content %}
<a href="/lab8/" role="button" class="btn btn-outline-warning">Lab 8</a>
<a href="/lab9/" role="button" class="btn btn-outline-warning">Lab 9</a>
<a href="/lab10/" role="button" class="btn btn-outline-warning">Lab 10</a>
<a href="/lab11/" role="button" class="btn btn-outline-warning">Lab 11</a>

<div class="box_atas">
    <h1 class="display-4">SUP BRO?</h1>

    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default" name="button">Submit</button>
    </form>
</div>
<div class="article">
    <div class="row">
        {% for s in status %}
        <div class="col-sm-4 text-center">
            <h2 class="act">{{ s.statusCondition }}</h2>
            <p>{{ s.time }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


</body>
</html>
