{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <title>Anwar Farihin</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>
<div class="preloader-wrap">
  <div class="percentage" id="precent"></div>
  <div class="loader">
    <div class="trackbar">
      <div class="loadbar"></div>
    </div>
    <div class="glow"></div>
  </div>
</div>

<div id="imagebg" style="background-image: url({% static 'img/bg.JPG'%});
    background-repeat: no-repeat;
    background-size:cover;">
    <div class="container">
        <img src="{% static 'img/ava.jpg' %}" alt="Avatar" class="image">
        <div class="overlay">
            <div class="text">Anwar Farihin</div>
        </div>
    </div>
    <div id="accordion">

        <h2>Activities and Experiences</h2>
        <div class="col">
            <p>
                Luckily studying <b>Computer Science</b> at <b>University of Indonesia</b>.<br>
                Love <b>running, swimming, sleeping</b> and <b>cycling</b>.<br>
                Like <b>writing lines of code</b> but not good enough at it :(</p>
        </div>
        <h2>Organization and Committees</h2>
        <div class="col">
            <p><b>CompfestX</b>: Staff of Software Engineering Academy <br>
                <b>The 25th CGT</b>: Staff of Games and Competition <br>
                <b>FUKI 2018</b>: Staff of Quran Department</p>
        </div>
        <h2>Achievements</h2>
        <div class="col">
            <p>2nd winner of MHQ 5 JUZ at UIQO 2017</p>
        </div>
        <i class="fas fa-sync" id="change" onclick="change_theme()"
           style="font-size:50px;color:lightblue;text-align:center;display:inline-block;width:100%;"></i>

    </div>
</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="{% static 'js/js.js' %}"></script>

