{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<div class="contain">
        {% if user.is_authenticated %}
                 <p class="display-4">Hello, {{ user.username }}</p>
        {% else %}
                 <a class="lead" href="{% url 'login' %}">Log in</a>
        {% endif %}
    <h2>books that i need <i class="fa fa-star" id="starcounter" style="color:yellow"></i> : <span
            class="count">0</span></h2>
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <button class="btn btn-default" type="button">Go!</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th></th>
                <th scope="col">Book Title</th>
                <th scope="col">Authors</th>
                <th scope="col">P.Date</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <p>created by <a href="https://instagram.com/anwarfarihin">@anwarfarihin</a></p>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/lab9.js' %}"></script>
{% endblock %}

