html,body {
    background-color: lightblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #43C6AC, #F8FFAE); /* Standard syntax (must be last) */
    font-family: 'Pattaya', sans-serif;
}
th {
    font-family: 'arial';
    font-size:25px;
}
h2 {
    color: white;
}
