html,body {
    background-color: lightblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #43C6AC, #F8FFAE); /* Standard syntax (must be last) */
    font-family: 'Pattaya', sans-serif;
}
th {
    font-family: 'arial';
    font-size:25px;
}
h2 {
    color: white;
}
table {
    font-family: 'Rubik', sans-serif;
    border-collapse: collapse;
    width: 100%;
}
tr:nth-child(even) {
    background-color: rgba(255,255,255,0.5);
}

.contain {
    margin:2% 5%;
}
#star {
    color: rgba(150,150,150,0.5);
}
.count {

}