h1, h2 {
    color:#293844 !important;
    background-color:lightblue !important;
    margin-right:10%;
    margin-left:10%;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
}
p, .post-form {
    font-family: 'Rubik', sans-serif;
    font-size:30px;
    text-align: center;
    color:#810c13;
    background-color: yellow;
    margin-right:10%;
    margin-left:10%;
    }
html {
    height: 100%;
    background-color: #082038;
}
body{
    background-color:rgba(0,0,0,0);
}

/*lab8*/
#imagebg {
    height:100% !important;
    width:auto;
}
.box_atas{
    margin:5%;
}
#accordion {
    margin: 5%;
}


/*avatar*/
.container {
  position: relative;
  width: 30%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 2s ease;
  background-color: #008CBA;
  border-radius: 50%;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*loading screen*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);


.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,1);
  z-index : 2;
}

.percentage {
  z-index: 100;
  border: 1px solid #ccc;
  text-align:center;
  color: #fff;
  line-height: 30px;
  font-size : 15px;
}

.loader,
.percentage{
  height: 30px;
  max-width: 500px;
  border: 2px solid #69AF23;
  border-radius: 20px;
  font-weight: 300;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin : auto;
}
.loader:after,
.percentage:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.trackbar {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  opacity: 0.99;
}

.loadbar {
  width: 0%;
  height: 100%;
  background: repeating-linear-gradient(
  45deg,
    #008737,
    #008737 10px,
    #69AF23 10px,
    #69AF23 20px
  ); /* Stripes Background Gradient */
  box-shadow: 0px 0px 14px 1px #008737;
  position: absolute;
  top: 0;
  left: 0;
  animation: flicker 5s infinite;
  overflow: hidden;
}

.glow {
  width: 0%;
  height: 0%;
  border-radius: 20px;
  box-shadow: 0px 0px 60px 10px #008737;
  position: absolute;
  bottom: -5px;
  animation: animation 5s infinite;
}

@keyframes animation {
  10% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.86;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.75;
  }
}

.wrap {
  background-image : url(http://wallpaperfx.com/view_image/little-girls-1600x900-wallpaper-5569.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index : 1;
}

.copyrights {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 14px;
  color: #fff;
  display: block;
}

.copyrights a { color: orange; text-decoration: none; }
.copyrights a:hover { color : #fff; text-decoration: underline; }

