{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'lab10.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <title>lab 10 farihin</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
{% block content %}
<body>
<div class="contain">
    <h2>lab10 webservice</h2>
    <div class="col-lg-6">
        <form method="POST" class="post-form" onsubmit="window.submit()">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default" name="button" id="button">Submit</button>
        </form>
    </div>

    <p>created by <a href="https://instagram.com/anwarfarihin">@anwarfarihin</a></p>
    <section id="subscriber">
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script  src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
</body>
</html>


<script type="text/javascript">
	document.getElementById("button").disabled = true;
	var email = document.getElementById('email-form');
	var time = null;

	email.onkeyup = function(e){
		clearTimeout(time);
		time = setTimeout(function(){
			$.ajax({
				method : 'POST',
				url : "validate",
				data : {
					'email' : email.value,
				},
				dataType : 'json',
				success: function(data){
					if(data.is_taken){
						alert("Email tersebut sudah pernah didaftarkan sebelumnya, silakan daftar dengan email lain");
						email.value = "";
					} else {
						document.getElementById("button").disabled = false;
					}
				}
			})
		}, 1500);
	}

	function submit(){
		event.preventDefault();
		register();
	}

	function register(){
		var nama = document.getElementById("name-form");
		$.ajax({
			type : "POST",
			url : "subscribe/",
			dataType: 'json',
			data :{
				name : $('#name-form').val(),
				email : $('#email-form').val(),
				password : $('#pass-form').val(),
			},
			success: function(result){
			     if(result["message"]=="success"){
                    $('#name_form').val("");
                    $('#email_form').val("");
                    $('#password_form').val("");
                    $('#subscriber').html("");
                    getSubscriber();
                    alert($('#name-form').val() + " berhasil disimpan");
                    window.location.reload();
                } else{
                    alert("Something is wrong");
                }
		    },
		    error: function(xhr, errmsg, err){
                alert(errmsg);
            },

		});
	}

    function deleteSubscriber(id){
    $.ajax({
        url: "delSubscriber/",
        type: "POST",
        data: {
            pk: id,
            csrfmiddlewaretoken : document.getElementsByName('csrfmiddlewaretoken')[0].value
        },
        success: function(result) {
            console.log($(this));
             $('#subscriber').html("");
            getSubscriber();
           alert("Unsubscribed");
        },
        error : function (errmsg){
            alert("Something is wrong");
        }
    });
};

function getSubscriber(){
     $.ajax({
        url: "getSubscriber/",
        type: "GET",
        success: function(result){
            console.log(result[0]);
            $('#subscriber').append("<div class='article'><div class='row'>");
            for(i=0; i< result.length;i++){
                $('#subscriber').append(
                "<div class='col-sm-4 text-center'><h1>"+
                result[i]['fields']['name']+ "</h1><p>" +
                result[i]['fields']['email']+
                "</p><button onclick='deleteSubscriber("+result[i]['pk']+")' class='btn btn-outline-danger'"+
                ">Unsubscribe</button></div>");
            }
            $('#subscriber').append("</div></div>");

        },
        error: function(errmsg){
            alert("errmsg");
        }
    });
};
$(document).ready(function(){
   getSubscriber();
});
</script>
{% endblock %}
</html>
